.card{
    width: 120px;
    height: 120px;
    padding: 1rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: var(--yellow);
}